$white: #FFF;
$black: #000;
$gold-1:#322800;
$gold-2:#aa8246;
$gold-3:#e1d27d;
$gold-4:#ffffa5;
$gold-5:#ffffc3;
$gold-6:#ffffdd;


:export {
  white: $white;
  black: $black;
  gold-1: $gold-1;
  gold-2: $gold-2;
  gold-3: $gold-3;
  gold-4: $gold-4;
  gold-5: $gold-5;
  gold-6: $gold-6;
}
